*{
    font-family: 'Zilla Slab', serif;
    margin:0px;
}

header{
    background: url('images/background.png') no-repeat center fixed;     
    background-image: linear-gradient(to bottom, rgba(9, 45, 48, 0.6) 0%,rgba(7, 45, 48, 0.6) 100%), url("images/background.png");
    height:100vh;
}


.navbar-nav li a{
    color:white;
    padding:25px;
    font-size:16px;
    text-indent: 30px;
    
}

.navbar-nav li{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav li a:hover{
    color:orange;
}

.navbar-toggler .navbar-toggler-icon{
    color:white;
}

.first-section{
    position: relative;
    text-align: center;
    height:700px;
    top:10px;
}

.title{
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.title .small-text{
    color:#FF811F;
}

.title span{
    color:white;
    font-size:45px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.title .buttons{
    position: relative;
    top:40px;
}

.buttons button{
    cursor: pointer;
    color:white;
    border:2px solid #FF811F;
    padding:15px 15px 15px 15px;
    background-color: transparent;
    border-radius: 20px;
    margin:5px;
}

.buttons button a{
    text-decoration: none;
    color:white;
}

button:hover{
    background-color:#FF811F;
    color:white;
}

.small-text{
    position: relative;
    top:-25px;
    font-size:20px;
}

section{
    height:100vh;
    margin-top: 3%;
}

@media screen and (max-width:750px)
{
    .title span{
        color:white;
        position:relative;
        font-size:30px;
        font-weight: bold;
        font-style: italic;
    }
    .title .buttons{
        position: relative;
        top:40px;
    }
    .title .small-text{
        color:#FF811F;
        font-size:16px;
    }
    .navbar-nav li a{
        color:white;
        padding:25px;
        font-size:14px;
        text-indent: 20px;
    }
    .nav-item a img{
        height:20px;
        width:20px;
        margin-left:-15px;
    }
}
@media screen and (max-width:575px)
{
    .title span{
        color:white;
        position:relative;
        font-size:30px;
        top:-150px;
        font-weight: bold;
        font-style: italic;
    }
    .title .buttons{
        position: relative;
        top:-110px;
    }
    .title .small-text{
        color:#FF811F;
        font-size:16px;
        position: relative;
        top:-170px;
    }
    .navbar-nav li a{
        color:white;
        padding:15px;
        font-size:15px;

        
    }
    .collapse navbar-collapse ul{
        display: inherit;
    }
}
@media screen and (max-width:602px)
{
    .nav-item a img{
        height:20px;
        width:20px;
        margin-left:-20px;
    }
}

@media screen and (max-width:768px)
{
  .padding-top{
    padding-top: 8px;
  }
  .col-sm-4{
    display: inline-block;
  }
}
@media screen and (min-width:767px)
{
  .padding-top{
    padding-top: 7px;
  }
}
@media screen and (max-width:252px)
{

  .col-xs-4{
    margin-left: 80px;
    margin-right:50px;
  }
  .col-xs-8{
    margin-left: 55px;
    margin-right:50px;
  }
}

@media screen and (min-width:992px)
{
  .col-xs-8{
    width:150.9px;
  }
  .padding-top{
    padding-top: 11px;
  }
}
